html,
body,
#app,
#app>div {
  height: 100%;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: #54627B;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #54627B;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #54627B;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  color: #ECD5BB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: black;
}

h3
{
  color:#54627B;
  
}